body {
    // overflow-x: hidden;
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    .wrapper {
        background-color: var(--bg-color);
        color: var(--font-color);
        font-family: Candara, sans-serif;
        transition: background-color 0.3s ease-in;
    }
    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 100vh;
        // color :#fff;
    }
    .container {
        // width: 100%;
        padding: 12px;
        margin-right: auto;
        margin-left: auto;
        // width: 100%;
        @media (min-width: 1904px) {
            max-width: 1785px;
        }

        @media (min-width: 1246px) {
            max-width: 1185px;
        }
        @media (min-width: 960px) {
            max-width: 900px;
        }
    }
    .nav {
        padding: 10px 0;
        background-color: var(--bg-darker);
        box-shadow: var(--box-shadow);
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
        .logo {
            max-width: 200px;
            & svg {
                fill: var(--font-color);
                transition: fill 0.3s ease-in;
            }
        }
        .mode-switcher {
            display: flex;
            align-items: center;
            color: var(--font-color);
            transition: color 0.3s ease-in;
            cursor: pointer;
            & svg {
                transition: fill 0.3s ease-in;

                margin-right: 10px;
                fill: var(--font-color);
            }
        }
    }
    .breadcrumbs {
        width: 100vw;
        height: 300px;
        background-position: top-left;
        background-image: url("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fa418c362-2956-4bc2-9027-ed3c949b7f3e%2FIMG_6924.jpg?table=block&id=1b2184e4-0dea-47df-840b-7c0cc638e61e&spaceId=196736dd-250f-45b1-ac1f-c4302855a2f9&width=2000&userId=2e07ec9f-d077-446d-835f-2a785af8d263&cache=v2");
        background-size: cover;
        background-position: 50% 60%;
    }
    footer {
        text-align: center;
        color: var(--font-color);
        background-color: var(--bg-darker);
        box-shadow: var(--box-shadow);
        transition: color 0.3s ease-in;
    }
}

//UTILITIES

.btn {
    padding: 10px 20px;
    border: 1px solid var(--border-color);
    box-shadow: 4px 4px 19px var(--bg-darker);
    cursor: pointer;
    color: hsl(0, 100%, 99.8%);
    font-size: 16px;
    text-transform: uppercase;
    transition: transform 0.3s ease-in;
    border-radius: 5px;

    &:not(:last-child) {
        margin-right: 10px;
    }

    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(0.9) !important;
    }
    &.danger {
        background-color: var(--danger);
        border: 1px solid var(--danger);
    }
    &.success {
        background-color: var(--success);

        border: 1px solid var(--success);
    }
}

.input {
    display: flex;
    align-items: center;
    label {
        font-size: 24px;
        text-transform: capitalize;
        color: var(--font-color);
        width: 100px;
    }
    input,
    select {
        padding: 20px;
        margin: 20px 0;
        border: 2px solid var(--border-color);
        // box-shadow: var(--box-shadow);
        width: 100%;
        font-size: 18px;
        background-color: var(--bg-darker);
        color: var(--font-color);
        border-radius: 10px;
        outline: none !important;
        &:active,
        &:focus {
            border-color: var(--primary-color);
        }
    }
    option {
        background-color: var(--bg-color);
        color: var(--font-color);
        border: 1px solid var(--border-color);
        padding: 20px 10px;
    }
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btns{
        display: flex;
        @media(max-width:490px){
            flex-direction: column;

            & .btn{
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }
}


.error{
    width: 100%;
    color : var(--danger);
    margin:5px 0;
    font-size: 18px;
    text-align:center;
    display: block;
    transition: all .3s ease-in;
}