:root {
  --font-color: #fff;
  --bg-color: #333;
  --primary-color:rgb(153, 188, 255);
  --danger:hsl(357.5, 88%, 57.6%);
  --success:rgba(111, 241, 111, 0.89);
  --bg-darker: #000;
  --border-color:rgb(149, 149, 149);
  --box-shadow: 2px 10px 20px var(--bg-darker);

  & .light{
    --font-color: #333;
  --bg-color: #fff;
  --bg-darker: #eee;
  --border-color: rgb(194, 194, 194);
  --box-shadow: 2px 10px 20px var(--bg-darker);
}

}
